.cache/
.docker/
.fishmarks/
.gem/
.gnupg/
.installs/
.lesshst/
.local/
.myconf/
.npm/
.ssh/
.vim/
.yarn/
apps/
bin/
snap/

.bash_history
.bash_logout
.bashrc
.gitconfig
.pgpass
.profile
.psql_history
.sdirs
.sudo_as_admin_successful
.viminfo
.vimrc
.wget-hsts
.yarnrc

.config/fish/fishd.v
.config/fish/fishfile
.config/fish/fish_variables
.config/fish/completions/
.config/fish/conf.d
.config/fish/functions

Screenshot*
