.*-alacritty*/
.This War of Mine/
.android/
.appimages/
.aws/
.cache/
.config/Chronos/
.config/Code/
.config/HypnOS/
.config/Pinta/
.config/Rygel/
.config/Signal/
.config/Slack/
.config/VirtualBox/
.config/cef_user_data/
.config/chromium/
.config/compiz-1/
.config/configstore/
.config/dconf/
.config/deluge/
.config/enchant
.config/eog/
.config/evince/
.config/evolution/
.config/gedit/
.config/gnome-initial-setup-done
.config/gtk-2.0/
.config/gtk-3.0/
.config/gtk-4.0/
.config/ibus/
.config/inkscape/
.config/menus/
.config/mimeapps.list
.config/monitors.xml
.config/monitors.xml~
.config/mono.addins/
.config/neofetch
.config/nautilus/
.config/pulse/
.config/solaar/
.config/sublime-text-3/
.config/totem/
.config/unity3d/
.config/user-dirs.dirs
.config/user-dirs.locale
.config/vivaldi/
.config/zoomus.conf
.cups/
.dbus/
.docker/
.fishmarks/
.gem/
.gnome/
.gnupg/
.gphoto/
.installs/
.java/
.kube/
.launchpadlib/
.local/
.minikube/
.mozilla/
.myconf/
.npm/
.nvm/
.oracle_jre_usage/
.pgadmin/
.pki/
.psensor/
.quakespasm/
.quicktype-vscode/
.ruby/
.ssh/
.steam/
.tmux/
.vim/
.vscode/
.wine/
.yarn/
.zoom/
Desktop/
Downloads/
Pictures/
Videos/
apps/
bin/
code/
franqbox/
games/
notes/
other/
repos/
slipstream/
snap/

*.desktop
.ICEauthority
.babel.json
.bash_history
.bash_logout
.bashrc
.gitconfig
.lesshst
.netrc
.node_repl_history
.pgAdmin4.startup.log
.pgpass
.profile
.psql_history
.pulse-cookie
.sdirs
.sdirs=
.selected_editor
.steampath
.steampid
.sudo_as_admin_successful
.tmux.conf
.v8flags*.json
.viminfo
.vimrc
.wget-hsts
.yarnrc

.config/fish/fishd.v
.config/fish/fishfile
.config/fish/fish_variables
.config/fish/completions/
.config/fish/conf.d
.config/fish/functions
